<h2><%= "Congratulations! You have registered " << @dog.Name << " for " << @price_plan.months.to_s << " months!" %></h2>
<hr />
<p><%= @rego.comformation_message %></p>
<hr />
<%= link_to "Back", root_path %>